<div class="flex justify-center">
  <div class="flex gap-6"></div>

    {{ partial "ui/button.html" (dict
      "href" "mailto:placeholder@example.com"
      "icon" "envelope"
      "text" "Email"
    ) }}

    {{ partial "ui/button.html" (dict
      "href" "https://github.com/Nicholas-Ho"
      "icon" "github"
      "text" "GitHub"
    ) }}

    {{ partial "ui/button.html" (dict
      "href" "https://www.linkedin.com/in/nicholas-ho-jx"
      "icon" "linkedin"
      "text" "LinkedIn"
    ) }}

  </div>
</div>